/* ====================================
   Content styling
==================================== */

.home-block {
    height: 100%;
    background: red;
    width: 400px;

    &__link {
        @include size(100%);
        display: block;
    }

    &__container {
        height: 100%;
        min-height: 100%;
    }
}
