/* ====================================
   Header styling
==================================== */

$polygon-count : 17;

.main-header {
    @include margin( 0 auto );
    @include padding( $spacing-small 0 );
    max-width: $site-width;
    text-align: center;
    position: relative;
    color: $white;
    background: $black;

    a { color: currentcolor; }
}