<div class="controls" id="controls">
    <div class="controls__inner">

        <section class="option">
            <p>
                font-size
            </p>
            <ul class="option-list items-3">
                <li id="triggerFontSmall">s</li>
                <li id="triggerFontMedium">m</li>
                <li id="triggerFontLarge">l</li>
            </ul>
        </section>

        <section class="option">
            <ul class="option-list items-1">
                <li id="triggerDarkMode">
                    Night theme
                </li>
            </ul>
        </section>

    </div>
    <div class="controls__button" id="triggerControls">

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
</div>