<article class="home-block cover-image" style="background-image: url({{site.baseurl}}{{node.images | first}});" alt="{{node.title}});">

        <header class="home-block__header">
            <h3 class="title">{{node.title}}</h3>
            <img src="{{site.baseurl}}{{node.images | first}}" alt="{{node.title}}" class="cover-image__source">
        </header>

        <footer class="home-block__footer">
            <a href="{{site.baseurl}}{{node.url}}" class="home-block__link">Go</a>
        </footer>

</article>
