/* ====================================
	Button styles
==================================== */

.btn, button {
	display: inline-block;
	padding: 3px 12px;
	border: 1px solid $c-accent;
	background: $white;
	transition: all $easing--fast;
	text-shadow: none;
	color: $c-link;
	font-weight: 700;
	display: inline-block;
	line-height: 1.5em;
	font-size: 120%;

	&:hover {
		background:   $c-link--hover;
		border-color: $c-link--hover;
		color: $white;
	}


	&-alt {
		@extend .btn;
		border-color: $white;
		color: $white;
		background: rgba( $black, .4);
		text-shadow: 0 1px 1px $black;
		&:hover {
			background: $white;
			color: $black;
			text-shadow: none;
		}
	}
}
