/* ====================================
	List styling (ul, ol, dl)
==================================== */

ul,
ol {
    @include margin( 0 0 $spacing-large );
    padding: 0;

    li {
        margin-left: 2em;
        margin-top: $spacing-medium;
        line-height: 1.5;
        &:first-child {
            margin-top: 0;
        }
    }

    a {
        display: block;
    }
}

@mixin list-unstyled() {
    @include margin( 0 );
    @include padding( 0 );
    li {
        @include margin( 0 );
        @include padding( 0 );
        list-style-type: none;
        display: inline-block;
    }
}

.list-unstyled {
    @include list-unstyled;
}
