/* ====================================
    Colors
==================================== */

$colors-key: 'base' !default;
$colors: (
  'primary': (
    'base': #8e2929,
    'light': #d9534f,
    'dark': #c9302c
  ),
  'accent': (
    'base' : #e4e9eb,
    'light': #f9f9f9,
    'dark' : #cfd8dc
  ),
  'secondary': (
    'base': #EE3C3F,
    'light': #7b1a2d,
    'dark': #51111e
  ),
  'foreground': (
    'base': #191919,
    'light': #777,
    'dark': #111111,
    'darker': #000000
  ),
  'background': (
    'base': #fbf9f9,
    'light': #ffffff,
    'dark': #e9e9e9
  )
);




@function color(
	$name: 'primary',
	$variant: $colors-key
) {

	$color: null;
	$color-key: map-get($colors, $name);

	@if $color-key {
		$color: map-get($color-key, $variant);
	}
	// Output $color
	@return $color;
}

// Variables
// ---------

// Generic
$white                      : #ffffff;
$grey                       : #222;
$black                      : #000000;

$c-success                  : lighten(desaturate(green, 50%), 20%);
$c-warning                  : #FFA500;
$c-notify                   : #EA474B;
$c-focus                    : #09F;


// Brand
$c-main                     : color('primary');
$c-sec                      : color('secondary');


$c-accent--l                : color('accent', 'light');
$c-accent                   : color('accent');
$c-accent--d                : color('accent', 'dark');


// Text
$c-text                     : rgba($black, .8);
$c-link                     : $c-main;
$c-link--hover              : $c-main;

// Layout
$c-background               : $c-accent--l;


// Third party Brand colors
$c-facebook                 : #03539e;
$c-twitter                  : #35ccff;
$c-linkedin                 : #217bc1;
