---
layout: compress
---

<!doctype html>
<html class="no-js fontsize-is-medium is-loading overlay-is-active">

    {% include head.html %}

<body class="page-{{ page.title | replace:' ','-' | downcase }}">

    <div class="site-wrap m-scene" id="Page">

        {% include header.html %}
        <main id="main" class="main-content scene_element scene_element--fadein" data-page-id="page-{{ page.title | replace:' ','-' | downcase }}">
            {{content}}
        </main>
        {% include footer.html %}

    </div>

    <div id="overlay" class="overlay">
        <div class="spinner"></div>
    </div>


    {% if site.dev %}
    <script src="{{ site.baseurl }}/assets/js/global.js"></script>
    {% else %}
    <script src="{{ site.baseurl }}/assets/js/global.min.js"></script>
    {% endif %}

</body>
</html>
