---
layout: compress
---

<!doctype html>
<html class="no-js fontsize-is-medium is-loading overlay-is-active">

    {% include head.html %}

<body class="page-{{ page.title | replace:' ','-' | downcase }}">

    <div class="site-wrap" id="Page">

        {% include header.html %}
        <main id="main" class="main-content" data-page-id="page-{{ page.title | replace:' ','-' | downcase }}">
            {{content}}
        </main>
        {% include footer.html %}

    </div>

    <div id="overlay" class="overlay"></div>


    {% if site.dev %}
    <script src="{{ "/assets/js/global.js" | prepend: site.baseurl }}"></script>
    {% else %}
    <script src="{{ "/assets/js/global.min.js" | prepend: site.baseurl }}"></script>
    {% endif %}

</body>
</html>
