---
layout: page
---

<article class="article cover-image" id="Story" style="background-image: url({{page.images | first | prepend: site.baseurl }})">

    <div class="article__container">

        <a class="home-link" href="{{site.baseurl}}/">Go back</a>

        <div class="article__banner cover-image" style="background-image: url({{page.images | first | prepend: site.baseurl }})">
            <img src="{{ page.images | first | prepend: site.baseurl }}" alt="" class="cover-image__source">
        </div>

        <header class="article__header">
            <h1 class="title">
                {% if page.info.story-title %}<small>{{page.info.story-title}}</small>{% endif %}
                {{page.title}}
                {% if page.foreign-name %}
                    <small>({{page.foreign-name}})</small>
                {% endif %}
            </h1>
            <p class="author">
                written by: <span>{{ page.author }}</span>
            </p>
            <hr>
        </header>

        <section class="article__content">
            {% if page.ingredients %}
            {% include ingredient-list.html %}
            {% endif %}

            {{ content }}

        </section>

        <footer class="article__footer"></footer>
    </div>

</article>
